include CHANGELOG.txt
include MANIFEST.in
include README.rst
include inupypi/__init__.py
include inupypi/core/__init__.py
include inupypi/core/exceptions.py
include inupypi/core/info.py
include inupypi/htpasswd
include inupypi/static/favicon.ico
include inupypi/static/vendor/initializr/css/bootstrap-responsive.css
include inupypi/static/vendor/initializr/css/bootstrap-responsive.min.css
include inupypi/static/vendor/initializr/css/bootstrap.css
include inupypi/static/vendor/initializr/css/bootstrap.min.css
include inupypi/static/vendor/initializr/css/main.css
include inupypi/static/vendor/initializr/img/glyphicons-halflings-white.png
include inupypi/static/vendor/initializr/img/glyphicons-halflings.png
include inupypi/static/vendor/initializr/js/main.js
include inupypi/static/vendor/initializr/js/vendor/bootstrap.js
include inupypi/static/vendor/initializr/js/vendor/bootstrap.min.js
include inupypi/static/vendor/initializr/js/vendor/jquery-1.8.2.min.js
include inupypi/static/vendor/initializr/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js
include inupypi/static/vendor/tablesorter/build.xml
include inupypi/static/vendor/tablesorter/changelog
include inupypi/static/vendor/tablesorter/jquery-latest.js
include inupypi/static/vendor/tablesorter/jquery.metadata.js
include inupypi/static/vendor/tablesorter/jquery.tablesorter.js
include inupypi/static/vendor/tablesorter/jquery.tablesorter.min.js
include inupypi/static/vendor/tablesorter/themes/blue/asc.gif
include inupypi/static/vendor/tablesorter/themes/blue/bg.gif
include inupypi/static/vendor/tablesorter/themes/blue/blue.zip
include inupypi/static/vendor/tablesorter/themes/blue/desc.gif
include inupypi/static/vendor/tablesorter/themes/blue/style.css
include inupypi/static/vendor/tablesorter/themes/green/asc.png
include inupypi/static/vendor/tablesorter/themes/green/bg.png
include inupypi/static/vendor/tablesorter/themes/green/desc.png
include inupypi/static/vendor/tablesorter/themes/green/green.zip
include inupypi/static/vendor/tablesorter/themes/green/style.css
include inupypi/templates/_themes/inupypi/404.html
include inupypi/templates/_themes/inupypi/500.html
include inupypi/templates/_themes/inupypi/about.html
include inupypi/templates/_themes/inupypi/base.html
include inupypi/templates/_themes/inupypi/index.html
include inupypi/views/__init__.py
include inupypi/views/admin.py
include inupypi/views/error.py
include inupypi/views/main.py
include setup.py
include tests/__init__.py
include tests/apps/__init__.py
include tests/apps/test_basic.py
include tests/apps/test_files.py
include tests/apps/test_repo.py
include tests/unit/__init__.py
include tests/unit/test_dirs.py
include tests/unit/test_sanitize_path.py
include tests/unit/test_search_path.py
