{% extends "layout.html" %}
{% block title %}inetutils PyPI{% endblock %}
{% block content %}
    <h1>Available Packages</h1>

    <div class="rows">
        <span class="header">Package Name</span>
        <span class="header">Latest Local Version</span>
    </div>

    <div class="clear"></div>

{% if packages %}{% for package in packages %}
    <div class="rows">
        <span class="item"><a href="{{ url_for('package', package=package.name) }}">{{ package.name }}</a></span>
        <span class="item">{% if package.local_version %}<a href="{{ url_for('package_get', package=package.name, filename=package.local_version) }}">{{ package.local_version }}</a>{% endif %}</span>
    </div>

    <div class="clear"></div>
{% endfor %}{% endif %}
{% endblock %}
