WSGIScriptAlias /inupypi ${inupypi_home}/inupypi_server
WSGIDaemonProcess inupypi user=${user} group=${group} \
    home=${inupypi_home} \
    python-path=${site_packages}

<Location /inupypi>
    WSGIProcessGroup inupypi
    WSGIPassAuthorization On
    Order Allow,Deny
    Allow From All
</Location>
