{% extends "layout.html" %}
{% block title %}inetutils PyPI{% endblock %}
{% block content %}

{% if packages %}
<h1>Available Packages</h1>
    <div class="rows">
        <span class="header">Name</span>
        <span class="header">Latest Local Version</span>
    </div>

    <div class="clear"></div>

    {% for p in packages %}
    <div class="rows">
        <span class="item">
            <a href="{{ url_for('package', name=p.package.name) }}">{{ p.package.name }}</a>
        </span>

        <span class="item">
            <a href="{{ url_for('get_package', name=p.package.name, filename=p.release) }}">{{ p.release }}</a>
        </span>
    </div>

    <div class="clear"></div>
    {% endfor %}
{% endif %}
{% endblock %}
