{% extends "layout.html" %}
{% block title %}inetutils PyPI{% endblock %}
{% block content %}

{% if files %}
    <h1>Available Packages</h1>

    <div class="rows">
        <span class="header">Name</span>
        <span class="header">Size</span>
        <span class="header">Metadata</span>
    </div>

    <div class="clear"></div>

    {% for f in files %}
    <div class="rows">
        <span class="item">
            <a href="{{ url_for('package_get', package_name=f.filepath.parent.name, filename=f.filepath.name) }}">{{ f.filepath.name }}</a>
        </span>
        <span class="item">{{ f.filepath.size() }}</span>
        <span class="item">
            <a href="{{ url_for('package_metadata', package=f.filepath.parent.name, filename=f.filepath.name) }}">{{ f.description.name }}'s Metadata</a>
        </span>
    </div>

    <div class="clear"></div>
    {% endfor %}

    <div class="rows">
        <p><a href="{{ url_for('index') }}">Back to previous page</a></p>
    </div>
{% endif %}
{% endblock %}
